@model XeMayShop.Models.DongXe

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DongXe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDongXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDongXe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDongXe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
